:root{
  --header-height: 3rem;
  --nav-width: 68px;

  /* Colours */
  --first-color: #0f4beb;
  --white-color: #fafafa;
  --first-color-light: #ECECEF;
  

  /* Z index */
  --z-fixed: 100;
}

/* Base */
*,::before,::after{
  box-sizing: border-box;
}

body {

  background-color: #fff;
}

.main{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-size: var(--normal-font-size);
  transition: .5s;
}

a{
  text-decoration: none;
  color: white;
}

/* Header */
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: #f7f8f9;
  transition: .5s;
  z-index: 1;
}

.header-toggle{
  color: #434343;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Nav Bar */
.navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav-logo, .nav-link, .authentication {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav-logo{
  margin-bottom: 2rem;
}

.nav-logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav-link, .authentication, .profile {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
  margin-left: 1rem;
  transition: 0.5s;
  border-radius: 3px;

}
.nav-sub-link:hover {
  color: var(--first-color);
  background-color: var(--white-color);
}



.nav-link:hover, .authentication:hover{
  color: var(--first-color);
  background-color: var(--white-color);
}

.nav-icon{
  font-size: 1.25rem;
}

.authentication {
  background-color: var(--first-color);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  width: 192px;
  height: 37.33px;
  outline: none;
}

.profile {
  font-size: 0.8rem;
}

/*Show navbar */
.show{
  left: 0;
}

/*Add padding body*/
.isPushed {
  padding-left: calc(var(--nav-width) + 1rem);
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
  flex-wrap: wrap;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: var(--first-color);
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 3;
  outline:0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123,255,0.25);
}

input {
  background-color: white;
  color: #6B6C7E;
}


input:focus {
  outline: 0;
}

input[type="text"]:disabled {
  cursor: not-allowed;
}


.searchBar input {
  background-color: transparent;
  border: none;
  font-size: 1.05rem;
  width: 500px;
  
}

.searchBar {
  width: 500px;
}

.searchBar input::placeholder {
  color: #434343;
}

.searchBar {
  display: flex;
  align-items: center;
  color: #434343;
  margin-left: 1rem;
  font-size: 1.25rem;
  padding-bottom: 5px;
}

::-webkit-scrollbar {
  display: none;
}

.review-container {
  width: 100%;
  max-width: 768px;
  padding: 3rem 1rem;
  margin: 0 auto;
}

.options {
  display: flex;
}

.blue {
  background-color: var(--first-color);
  color: white;
  border: 1px solid var(--first-color) !important;
}


.submit {
  align-self: flex-start;
  margin-right: 1.5rem;
  
}

.button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1rem;
  outline: none;
  border: 0.0625rem solid rgb(155, 155, 156);
}

.none {
  display: none;
}

.modal-opener {
  display: inline-block;
  color: blue;
  outline: none;
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
}

.modal-opener:hover {
  text-decoration: underline;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error {
  font-size: 10rem;
}

.error span {
  color: var(--first-color);
}



/* Media Queries */
@media screen and (min-width: 768px){
  .main{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .isPushed{
    padding-left: calc(var(--nav-width) + 188px);
  }

  .subject-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
  
  }

  .header-guidelines-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }


  
  
}
